<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>

<body>
<%- include("../partials/header")%>

    <main class="main-nuevo-producto">
        <form action="/login" method="POST" class="formulario-nuevoproducto">
            <h3>AGREGUE/EDITE SU NUEVO PRODUCTO</h3>
            <div>
                <label for="ProductName">Nombre del Producto</label>
                <input id="ProductName" type="text" name="ProductName" class="controlnewproduct">
            </div>

            <div>
                <label for="precio">Precio</label>
                <input id="precio" type="text" name="precio" class="controlnewproduct">
            </div>

            <div>
                <label for="Genero">Genero</label>
                <label>
                    <input type="radio" name="masculino" value="masculino" class="controlnewproduct">Masculino
                </label>
                <label>
                    <input type="radio" name="femenino" value="femenino" class="controlnewproduct">Femenino
                </label>
                <label>
                    <input type="radio" name="unisex" value="unisex" class="controlnewproduct">Otros
                </label>
            </div>

            <div>
                <label for="tallesdisponibles">Talles Disponibles:</label>
                <input id="tallesdisponibles" type="checkbox" name="talle36" value="talle36" class="controlnewproduct-talle">36</input>
                <input id="tallesdisponibles" type="checkbox" name="talle37" value="talle37" class="controlnewproduct-talle">37</input>
                <input id="tallesdisponibles" type="checkbox" name="talle38" value="talle38" class="controlnewproduct-talle">38</input>
                <input id="tallesdisponibles" type="checkbox" name="talle39" value="talle39" class="controlnewproduct-talle">39</input>
                <input id="tallesdisponibles" type="checkbox" name="talle40" value="talle40" class="controlnewproduct-talle">40</input>
                <input id="tallesdisponibles" type="checkbox" name="talle41" value="talle41" class="controlnewproduct-talle">41</input>
                <input id="tallesdisponibles" type="checkbox" name="talle42" value="talle42" class="controlnewproduct-talle">42</input>
                <input id="tallesdisponibles" type="checkbox" name="talle43" value="talle43" class="controlnewproduct-talle">43</input>
                <input id="tallesdisponibles" type="checkbox" name="talle44" value="talle44" class="controlnewproduct-talle">44</input>
                <input id="tallesdisponibles" type="checkbox" name="talle45" value="talle45" class="controlnewproduct-talle">45</input>
                <input id="tallesdisponibles" type="checkbox" name="talle46" value="talle46" class="controlnewproduct-talle">46</input>
                <input id="tallesdisponibles" type="checkbox" name="talle47" value="talle47" class="controlnewproduct-talle">47</input>
            </div>

            <div>
                <label for="fotodeproducto">Foto del producto</label>
                <input id="fotodeproducto" type="file" name="fotodeproducto" value="fotodeproducto" class="controlnewproduct"></input>
            </div>

            <div>
                <label for="detallesproducto">Detalle de producto</label>
                <input id="detallesproducto" type="text" name="detallesproducto" class="detallesproducto"></input>
            </div>

            <div class="register-buttons">
                <button type="submit" value="Confirmar" class="confirm-button">Confirmar</button>
                <button type="reset" value="Borrar" class="delete-button">Borrar</button>
            </div>
        </form>
    </main>

<%- include("../partials/footer")%>  
</body>

</html>