<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kicks</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/e8df24fbbe.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles-rama.css">
</head>

<body>

    <header class="main-header">
        <div class="arriba">
            <h3>¡3 , 6 y 12 CUOTAS SIN INTERES!</h3>
        </div>
        <div class="header-top-bar">

            <div class="contenedor-menu">
                <i class="fas fa-bars menu-desplegable"></i>
            </div>
            <a href="/" class="home"><img src="/images/kicks.png" alt="logo kicks" class="logo"></a>
            <div class="icons-section">
                <a href="/login"><i class="fas fa-user"></i></a>
                <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                <a href="/"><i class="fas fa-share-alt-square"></i></a>
            </div>
            <form action="/productDetail" method="GET" class="search-form">
                <input type="text" name="search" placeholder="¿Qué estás buscando?" class="campo-busqueda">
                <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
            </form>
        </div>

        <nav class="header-bottom-bar">
            <ul>
                <li><a href="#" class="linknav">HOMBRE</a></li>
                <li><a href="#" class="linknav">MUJER</a></li>
                <li><a href="#" class="linknav">NIÑO</a></li>
                <li><a href="#" class="linknav">DEPORTES</a></li>
                <li><a href="#" class="linknav">MARCAS</a></li>
            </ul>

        </nav>

    </header>

    <section class="banner">
        <img src="/images/banner-nike.jpg" alt="Banner de ofertas">
        <img src="/images/banner-adidas-classic.jpg" alt="Banner de ofertas" class="none3">
    </section>
    <div class="dots">
        <i class="fas fa-ellipsis-h centrado"></i>
    </div>



    <main>

        <section class="zapatillas">
            <div class="title">
                <h2 class="linea"><span>DESTACADOS</span></h2>
            </div>
            <div class="recomendados padding">
                <article class="recomendado-article a1">
                    <img src="images/nike1.png" alt="Nike1" class="product_img">
                    <div class="main-article">
                        <h4 class="description">Nike Air Max 95 OG Neon (2020)</h4>
                        <p class="price">$25.499</p>
                    </div>

                </article>
                <article class="recomendado-article a2 none">
                    <img src="images/adidas1.png" alt="Adidas1" class="product_img">
                    <div class="main-article">
                        <h4 class="description">Adidas Ozweego Orange (Youth)</h4>
                        <p class="price">$11.700</p>

                    </div>
                </article>
                <article class="recomendado-article a3 none1">
                    <img src="images/puma1.png" alt="Puma1" class="product_img">
                    <div class="main-article">
                        <h4 class="description">Puma RS-X Toys Bonnie Blue (W)</h4>
                        <p class="price">$12.499</p>

                    </div>
                </article>
                <article class="recomendado-article a4 none1">
                    <img src="images/new-balance1.png" alt="Newbalance1" class="product_img">
                    <div class="main-article">
                        <h4 class="description">New Balance 992 Grey (2020)</h4>
                        <p class="price">$17.000</p>
                    </div>
                </article>
        </section>

        <div class="dots1">
            <i class="fas fa-ellipsis-h centrado"></i>
        </div>
        
        <section class="marcas">
            <div class="title">
                <h2 class="linea"><span>COMPRÁ POR MARCA</span></h2>
            </div>
            <div class="images padding">
                <i class="fas fa-chevron-left previous icons-marca"></i>
                <img src="images/marca-nike.png" alt="Nike" class="marca_img">
                <img src="images/marca-adidas.png" alt="Adidas" class="marca_img">
                <img src="images/marca-puma.png" alt="Puma" class="marca_img">
                <img src="images/marca-converse.png" alt="Converse" class="marca_img none">
                <img src="images/marca-vans.png" alt="Vans" class="marca_img none1">
                <img src="images/marca-newbalance.png" alt="Newbalance" class="marca_img none1">
                <i class="fas fa-chevron-right next icons-marca"></i>
            </div>

        </section>


        <div class="medios-pago">
            <div class="titulo-medios">MEDIOS DE PAGO</div>
            <img src="images/medios-pago-varios.png" alt="pagoelectronico" class="imagen-pago">
            <img src="images/medios-pago-efectivo.jpg" alt="pagoefectivo" class="imagen-pago2">
        </div>


        <div class="envios padding">
            <i class="fas fa-shipping-fast"></i>¡ENVIOS SIN CARGO A TODO EL PAIS!
        </div>

        </div class="newsletter">

        <form action="/" method="POST" class="newsletter">

            <h3 class="newsletter-title">SUSCRIBITE AL NEWSLETTER</h3>
            <div class="control-formulario">
                <input type="email" name="email" id="email" placeholder="Ingresá tu email" class="control">
                <button type="submit" class="boton-suscribe">SUSCRIBIRME</button>
            </div>
        </form>

        </div>
    </main>

    <footer>

        <section>

            <div class="main-footer">
                <article class="footer-article">
                    <h4 class="titulo">INSTITUCIONAL<i class="fas fa-chevron-down none2"></i></h4>
                    <div class="italic center gris-oscuro padding">
                        <ul class="footer">
                            <li><a href="#" class="linkfooter">Quienes somos</a></li>
                            <li><a href="#" class="linkfooter">Politicas de privacidad</a></li>
                            <li><a href="#" class="linkfooter">Terminos y condiciones</a></li>
                        </ul>
                    </div>
                </article>
                <article class="footer-article">
                    <h4 class="titulo">AYUDA<i class="fas fa-chevron-down none2"></i></h4>
                    <div class="italic center gris-oscuro padding">
                        <ul class="footer">
                            <li><a href="#" class="linkfooter">Preguntas frecuentes</a></li>
                            <li><a href="#" class="linkfooter">Sucursales</a></li>
                            <li><a href="#" class="linkfooter">Pagos</a></li>
                            <li><a href="#" class="linkfooter">Entregas</a></li>
                            <li><a href="#" class="linkfooter">Cambios</a></li>
                        </ul>
                    </div>
                </article>
                <article class="footer-article">
                    <h4 class="titulo">CONTACTO<i class="fas fa-chevron-down icon-title none2"></i></h4>
                    <div class="italic">
                        <ul class="footer">
                            <li><a href="" class="linkfooter">0800-888-8888</a></li>
                            <li><a href="" class="linkfooter">Lunes a Sábado de 9 a 18 hs</a></li>
                            <li><a href="#" class="linkfooter"><i class="far fa-envelope "></i>Envianos un mensaje</a>
                            </li>
                        </ul>
                    </div>
                </article>
            </div>

            <br />

            <div>
                <p class="gris-oscuro font-size center1 ">Copyright © 2020 KICKS S.R.L.</p>
                <div class="redes">
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-instagram-square"></i>
                    <i class="fab fa-whatsapp-square"></i>
                </div>
            </div>
        </section>

    </footer>

</body>

</html>