<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kicks>Products</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/e8df24fbbe.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles-santi.css">   
</head>
<body>
    <header class="main-header">
        <div class="arriba">
            <h3>¡3 , 6 y 12 CUOTAS SIN INTERES!</h3>
        </div>
        <div class="header-top-bar">

            <div class="contenedor-menu">
                <i class="fas fa-bars menu-desplegable"></i>
            </div>
            <a href="/" class="home"><img src="/images/kicks.png" alt="logo kicks" class="logo"></a>
            <div class="icons-section">
                <a href="/login"><i class="fas fa-user"></i></a>
                <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                <a href="/"><i class="fas fa-share-alt-square"></i></a>
            </div>
            <form action="/productDetail" method="GET" class="search-form">
                <input type="text" name="search" placeholder="¿Qué estás buscando?" class="campo-busqueda">
                <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
            </form>
        </div>

        <nav class="header-bottom-bar">
            <ul>
                <li><a href="#" class="linknav">HOMBRE</a></li>
                <li><a href="#" class="linknav">MUJER</a></li>
                <li><a href="#" class="linknav">NIÑO</a></li>
                <li><a href="#" class="linknav">DEPORTES</a></li>
                <li><a href="#" class="linknav">MARCAS</a></li>
            </ul>

        </nav>

        <br>

    </header>
    <main>
        <div class="navegacion de sitios">
        <ol class="nav-site">
            <li><a href=#>Inicio</a></li>
            <span>></span>
            <li><a href=#>Hombres</a></li>
            <span>></span>
            <li><a href=#>Calzado</a></li>
        </ol>
        </div>
        
        <section class="main-article">
            <div class="imagen-principal">
                <img src="/images/adidas1.png" alt="Adidas Ozweego Orange" class="main-product-image">
            </div>
            <div class="data-principal">
                <div class="product-body">
                    <h2 class="main-title">Adidas Ozweego Orange (Youth)</h2>
                    <p class="precio">$13.999</p>
                    <h3 class="talle">Elegi tu talle</h3>
                <div class="Talle">
                    <p><a href=#><i class="fas fa-ruler-horizontal"></i>Guia de talles</a></p>
                    <form action="/talle" class="tallesdisponibles">
                        <input type="button" name="talle" value="39" class="boton-talle">
                        <input type="button" name="talle" value="40" class="boton-talle">
                        <input type="button" name="talle" value="41" class="boton-talle">
                        <input type="button" name="talle" value="42" class="boton-talle">
                        <input type="button" name="talle" value="43" class="boton-talle">
                        <input type="button" name="talle" value="44" class="boton-talle">
                    </form>
                </div>
                <div class="Cantidad">
                    <p>Cantidad:</p>
                    <form action="/cantidad" class="cantidaditem">
                    <select name="cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    </form>
                </div>
                <div class="realizar-compra">
                    <a href=# class="BotondeCompra">Compra<i class="fas fa-shopping-bag"></i></a><br>
                    
                </div>
                <div class="enviosgratis">
                    <p class="Envios"><i class="fas fa-shipping-fast"></i>Envios gratis a partir de $$$$</p>
                </div>
            </div>
        </section>

        <h3 class="header-details">Detalles</h3>
        <div class="descripcion">
        <ul class="DetallesLista1">
            <li><i class="fas fa-chevron-circle-right"></i>Forro interno textil. Suela de caucho</li>
            <li><i class="fas fa-chevron-circle-right"></i>Exterior de malla con revestimientos de gamuza y TPU</li>
            <li><i class="fas fa-chevron-circle-right"></i>Amortiguación Adiprene+ en el antepié. Mediasuela de EVA liviana. Amortiguación Adiprene en el talón</li>
        </ul>
        <ul class="DetallesLista2">
            <li><i class="fas fa-chevron-circle-right"></i>Forro interno textil. Suela de caucho</li>
            <li><i class="fas fa-chevron-circle-right"></i>Exterior de malla con revestimientos de gamuza y TPU</li>
            <li><i class="fas fa-chevron-circle-right"></i>Amortiguación Adiprene+ en el antepié. Mediasuela de EVA liviana. Amortiguación Adiprene en el talón</li>
        </ul>
        </div>  


    <section class="opciones">   
        <h3>Otros productos que podrian interesarte...</h3>
        <div class="opciones-recomendadas">
        <article class="otrasopciones">
            <a href=# title="Adidas Ultra Boost 4.0 Running White">
                <img src="/images/adidas3.png" alt="Adidas Ultra Boost 4.0 Running White">
            </a>
            <p class="product-name">Adidas Ultra Boost 4.0 Running White</p>
            <p class="product-price">$15.000</p>
        </article>
        <article class="otrasopciones">
            <a href=# title="Adidas Deerupt Solar Red Bluebird">
                <img src="/images/adidas5.png" alt="Adidas Deerupt Solar Red Bluebird">
            </a>
            <p class="product-name">Adidas Deerupt Solar Red Bluebird</p>
            <p class="product-price">$13.500</p>
        </article>
        <article class="otrasopciones">
            <a href=# title="Adidas Nite Jogger 3M Navy">
                <img src="/images/adidas2.png" alt="Adidas Nite Jogger 3M Navy">
            </a>
            <p class="product-name">Adidas Nite Jogger 3M Navy</p>
            <p class="product-price">$11.000</p>
        </article>
        <article class="otrasopciones">
            <a href=# title="adidas EQT Support Mid ADV Primeknit Dragon Ball Z Super Shenron">
                <img src="/images/adidas4.png" alt="adidas EQT Support Mid ADV Primeknit Dragon Ball Z Super Shenron">
            </a>
            <p class="product-name">adidas EQT Support Mid ADV Primeknit Dragon Ball Z Super Shenron</p>
            <p class="product-price">$18.000</p>
        </article>
        </div>
    </section>
    </main>
    <footer>

        <section>

            <div class="main-footer">
                <article class="footer-article">
                    <h4 class="titulo">INSTITUCIONAL<i class="fas fa-chevron-down none2"></i></h4>
                    <div class="italic center gris-oscuro padding">
                        <ul class="footer">
                            <li><a href="#" class="linkfooter">Quienes somos</a></li>
                            <li><a href="#" class="linkfooter">Politicas de privacidad</a></li>
                            <li><a href="#" class="linkfooter">Terminos y condiciones</a></li>
                        </ul>
                    </div>
                </article>
                <article class="footer-article">
                    <h4 class="titulo">AYUDA<i class="fas fa-chevron-down none2"></i></h4>
                    <div class="italic center gris-oscuro padding">
                        <ul class="footer">
                            <li><a href="#" class="linkfooter">Preguntas frecuentes</a></li>
                            <li><a href="#" class="linkfooter">Sucursales</a></li>
                            <li><a href="#" class="linkfooter">Pagos</a></li>
                            <li><a href="#" class="linkfooter">Entregas</a></li>
                            <li><a href="#" class="linkfooter">Cambios</a></li>
                        </ul>
                    </div>
                </article>
                <article class="footer-article">
                    <h4 class="titulo">CONTACTO<i class="fas fa-chevron-down icon-title none2"></i></h4>
                    <div class="italic">
                        <ul class="footer">
                            <li><a href="" class="linkfooter">0800-888-8888</a></li>
                            <li><a href="" class="linkfooter">Lunes a Sábado de 9 a 18 hs</a></li>
                            <li><a href="#" class="linkfooter"><i class="far fa-envelope "></i>Envianos un mensaje</a>
                            </li>
                        </ul>
                    </div>
                </article>
            </div>

            <br />

            <div>
                <p class="gris-oscuro font-size center1 ">Copyright © 2020 KICKS S.R.L.</p>
                <div class="redes">
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-instagram-square"></i>
                    <i class="fab fa-whatsapp-square"></i>
                </div>
            </div>
        </section>

    </footer>
</body>
</html>