<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kicks</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/e8df24fbbe.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles-prueba.css">   
</head>
<body>
    <header class="main-header">
        <div class="header-top-bar">
            <div class="contenedor-menu">
                <i class="fas fa-bars menu-desplegable"></i>
            </div>
            <a href="/" class="home"><img src="/images/kicks.png" alt="logo kicks" class="logo"></a>
            <div class="icons-section">
               <a href="/login"><i class="fas fa-user"></i></a> 
               <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>  
                <a href="/"><i class="fas fa-share-alt-square"></i></a>
            </div>
            <form action="/productDetail" method="GET" class="search-form">
                <input type="text" name="search" placeholder="¿Qué estás buscando?" class="campo-busqueda">
                <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
            </form>
        </div>
        
        <nav class="header-bottom-bar">
            <ul>
                <li><a href="#" class="linknav">HOMBRE</a></li>
                <li><a href="#" class="linknav">MUJER</a></li>
                <li><a href="#" class="linknav">NIÑO</a></li>
                <li><a href="#" class="linknav">DEPORTES</a></li>
                <li><a href="#" class="linknav">MARCAS</a></li>
            </ul>

        </nav>
    </header>
    
    <main>
        <h2 class="titulo-registro">REGISTRARME</h2>
        <form action="/register" method="POST" class="register-form">
         <div class="register-container"> 
            <h3 class="datos-personales">DATOS PERSONALES</h3>
            <div>
            <input type="text" name="nombre" placeholder="NOMBRE" class="ingreso" required>
            </div>
            <div>
            <input type="text" name="apellido" placeholder="APELLIDO" class="ingreso" required>
            </div> 
            <div>
            <label for="fecha-nacimiento">FECHA DE NACIMIENTO</label>
            <input type="date" name="fecha-nacimiento" id="fecha-nacimiento" class="ingreso" required>
            </div>
            <div>
            <label>GENERO</label>
            </div>
            <div class="genero">
            <label for="masculino" class="label-sexo">MASCULINO</label>
            <input type="radio" name="sexo" value="masculino" id="masculino" required>
            <label for="femenino" class="label-sexo">FEMENINO</label>
            <input type="radio" name="sexo" value="femenino" id="femenino" required>
            <label for="otros" class="label-sexo">OTROS</label>
            <input type="radio" name="sexo" value="otros" id="otros" required>
            </div>
         </div>
         <div class="register-container"> 
            <h3 class="info-cuenta">SOBRE TU CUENTA</h3>
            <input type="email" name="email" placeholder="EMAIL" class="ingreso" required>
            <input type="password" name="password" placeholder="CONTRASEÑA" class="ingreso" required>
            <i class="fas fa-eye-slash"></i>
            <input type="password" name="password-confirm" placeholder="CONFIRMAR CONTRASEÑA" class="ingreso" required>
            <i class="fas fa-eye-slash"></i>
         </div>
            <hr>
         <div class="register-container-end"> 
            <input type="checkbox" name="terminos" value="terminos" id="terminos" required>
            <label for="terminos">ACEPTO LAS POLITICAS DE PRIVACIDAD Y LOS TERMINOS Y CONDICIONES</label>
            <input type="checkbox" name="ofertas" value="ofertas" id="ofertas">
            <label for="ofertas">DESEO RECIBIR OFERTAS POR EMAIL</label>
            <button type="submit" class="submit-button">CREAR CUENTA</button>
         </div>
        </form>


    </main>

    <footer>

        <section>

            <div class="main-footer">
                <article class="footer-article">
                    <h4 class="titulo">INSTITUCIONAL<i class="fas fa-chevron-down none2"></i></h4>
                    <div class="italic center gris-oscuro padding">
                        <ul class="footer">
                            <li><a href="#" class="linkfooter">Quienes somos</a></li>
                            <li><a href="#" class="linkfooter">Politicas de privacidad</a></li>
                            <li><a href="#" class="linkfooter">Terminos y condiciones</a></li>
                        </ul>
                    </div>
                </article>
                <article class="footer-article">
                    <h4 class="titulo">AYUDA<i class="fas fa-chevron-down none2"></i></h4>
                    <div class="italic center gris-oscuro padding">
                        <ul class="footer">
                            <li><a href="#" class="linkfooter">Preguntas frecuentes</a></li>
                            <li><a href="#" class="linkfooter">Sucursales</a></li>
                            <li><a href="#" class="linkfooter">Pagos</a></li>
                            <li><a href="#" class="linkfooter">Entregas</a></li>
                            <li><a href="#" class="linkfooter">Cambios</a></li>
                        </ul>
                    </div>
                </article>
                <article class="footer-article">
                    <h4 class="titulo">CONTACTO<i class="fas fa-chevron-down icon-title none2"></i></h4>
                    <div class="italic">
                        <ul class="footer">
                            <li><a href="" class="linkfooter">0800-888-8888</a></li>
                            <li><a href="" class="linkfooter">Lunes a Sábado de 9 a 18 hs</a></li>
                            <li><a href="#" class="linkfooter"><i class="far fa-envelope "></i>Envianos un mensaje</a>
                            </li>
                        </ul>
                    </div>
                </article>
            </div>

            <br />

            <div>
                <p class="gris-oscuro font-size center1 ">Copyright © 2020 KICKS S.R.L.</p>
                <div class="redes">
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-instagram-square"></i>
                    <i class="fab fa-whatsapp-square"></i>
                </div>
            </div>
        </section>

    </footer>

    
</body>
</html>