* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html,body {
    height: 100vh;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    font-size: 16px;
}

.header-top-bar{
    background-color: #222021  ;
    padding-top: 10px;
}
.header-top-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.home{
    width: 30%;
}

.logo{
    width: 100%;
    margin-bottom: 10px;
}

.icons-section{
    width: 30%;
    align-self: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.icons-section i{
    padding: 0px 5px;
    color:#ffffff;
    font-size: 18px;
}

.search-form{
    display: flex;
    align-self: center;
    width: 50%;
    justify-content: center;
}

.campo-busqueda{
    text-align: center;
    font-size: 12px;
    border: none;
    font-family: roboto;
    padding:8px;
    width: 85%;
    border-bottom: solid 3px #222021 ;
}
.search-button{
    font-size: 12px;
    border: none;
    padding: 8px;
    background-color: white;
    width:15%;
    border-bottom: solid 3px #222021 ;   
}

.contenedor-menu{
    width: 30%;
    align-self: center;
    display: flex;
    justify-content: center;
}

.menu-desplegable{
    font-size: 16px;
    background-color:#d97f11;
    padding: 5px;
    border-radius: 5px;
    width: 30px;
    text-align: center;
    color: white;
    align-self: center;
    margin-top: 10px;
}


.header-bottom-bar{
    padding:10px;
    border-bottom: solid 2px#222021 ;
    display: none;
}

.header-bottom-bar ul{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    }
.linknav{
    color: black;
    text-decoration: none;
    font-size: 12px;
}

.banner{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section.banner img{
    width: 100%;

}
h2 {
    font: 25px sans-serif;
    margin-top: 25px;
    text-align: center;
  }
  h2.linea {
    position: relative;
    z-index: 1;
  }
  h2.linea:before {
    border-top: 2px solid black;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
  }
  h2.linea span {
  
    background: #f2f2f2;
    padding: 0 15px;
  }

.images{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}
.marca_img{
    width: 15%;
}
.icons-marca{
    align-self: center;
    display: flex;
}

.icons-marca i{
    padding: 0px 5px;
    color:black;
    font-size: 2px;
}

.none{
    display: none;
}
.none1{
    display: none;
}

main section article img{
    width: 90%;
}

.products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

article{
    width: 100%;
    margin-top: 10px;   
}

article.none{
    display: none;
}
article.none1{
    display: none;
}

.padding{
    padding: 10px;
}

.main-article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    background-color: #f2e4bb;
}
.main-article div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.main-article div.price{
    width: 100%;
}
.footer-article{
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;

}
.envios{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color:#f2e4bb;
    padding:10px;
    width: 100%;
    border: solid 1px #000000;
}

footer{
    background-color: #222021;
    color: white; 
}

.linkfooter{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    padding: 7px 20px;
    font-family: "Roboto";
    display: flex;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: dotted 1px #ffffff;
}
div.italic {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.newsletter{
    margin: 15px;
}
.newsletter-title{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}
.titulo{
    padding: 15px; 
}
.icon-title{
   align-items: center;
}

.medios-pago{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;
    
}
.titulo-medios{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    font-size: 22px;
    font-family: sans-serif;
    padding-top: 15px;
}
.imagen-pago{
    width:25%;
    align-self: center;
}
.imagen-pago2{
    width:23%;
}
.arriba{
    background-color: #f2e4bb;
    text-align: center;
    border-bottom: solid 2px #f2e4bb;
    border-radius: 2px;
    padding: 7px;
}
.control-formulario{
    margin-bottom: 15px;
}
.control{
    width: 100%;
    padding: 8px;
}
.boton-suscribe{
    background-color: #222021;
    border: none;
    font-size: 20px;
    color: #ffffff;
    padding: 5px 10px;
    width: 100%;
    margin-top: 2px;    
}
.redes{
    text-align: center;
    text-indent: 10px;
    font-size: 18px;
    margin-top: 10px;
    width:100%;
    margin-right:20px;
    padding-bottom: 10px;
   
}
.center{
    text-align: center;
}
.centrado{
    align-self: center;
}
.recomendado-article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    border: dotted 0.5px #d97f11;
}
.recomendado-article img{
    width: 100%;
}
.price{
    font-size: 18px;
    width: 70%;
    display: flex;
    justify-content: center;
}
.dots{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 2em;
    color: #222021;
}
.dots1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 2em;
    color: #222021; 
}
.center1{
    text-align: center;
}
.none3{
    display: none;
}
article.recomendado-article{
    background-color: #ffffff;
}

div.images.padding{
    background-color: #ffffff;
    border: solid 25px #f2f2f2 ;
    border-radius: 60px;
}
div.medios-pago{
    background-color: #ffffff;
}

/* Data Product Detail */

.nav-site{
    display:flex;
}


.nav-site li a{
    text-decoration: none;
    font-weight: bold;
}

ol{
    list-style: none;
}

img{
    width: 100%;
}

.main-article-product{
    margin: 10px 5px;
    background-color: #f2f2f2;  
}

.main-title{
    font-weight: bolder;
}

.precio{
    font-size: 35px;
    font-weight: bold;
    color: #8c2e2e;
    margin: 10px;
}

.Cantidad{
    display: flex;
    align-items: center;
}

.tallesdisponibles{
    margin: 5px;
}

.boton-talle{
    border-radius: 30px;
    padding: 5px;
    background-color: #ffffff;
}

.cantidaditem{
    margin: 5px;
}

.realizar-compra{
    margin: 10px 5px;
}

.BotondeCompra{
    font-size: 45px;
    padding: 5px;
    border-radius: 20px;
    color: #ffffff;
    background-color: #fdb400;
    text-decoration: none;
}

.enviosgratis{
    max-width: 250px;
}

.Envios{
    background-color: #2d5955;
    color: #ffffff;
    padding: 5px;
    margin-top: 15px;
    margin-left: 5px;
}

.descripcion{
    margin: 10px;
    background-color: #ffffff;
}

.header-details{
    padding: 5px 5px;
}

.DetallesLista1 li{
    list-style: none;
    margin: 10px;
    padding: 5px 5px ;
}

.DetallesLista2 li{
    list-style: none;
    margin: 10px;
    padding: 5px 5px ;
}

.opciones{
    padding: 5px 5px;
}

.recomendados-img{
    width: 100%;
}

.otrasopciones{
    margin: 3px 0;
    border: dotted 0.5px #D97F11;
    background-color: #f2efe7;  
}

.product-name{
    font-weight: bold;
}

.product-price{
    font-size: 20px;
    font-weight: bold;
    color: #8c2e2e;
}

/* Medias */

@media(min-width: 478px){
    article{
        width: 45%;
    }
    article.none{
        display: block;
    }
    .none{
        display: block;
    }
    .newsletter{
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        border-top: solid 1px #000000;
        border-bottom: solid 1px #000000;
    }
    .newsletter-title{
        font-size: 20px;
        padding-right: 5px;
        margin-top: 7px;
        padding-top: 15px;
    }
    .control-formulario{
       padding-top: 7px;
       padding-right:7px ;
    
    }
    .recomendados{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .izarrow , .derarrow{
        display: none;
    }
    .a1, .a2 , .a3, .a4{
        display: flex;
        width: 45%;
        justify-content: space-between;
    }
    .a1, .a2 , .a3, .a4 div{
        text-align: center;
    }
    .dots{
        display: none;
    }
    .dots1{
        display: none;
    }
    .none3{
        display: block;
    }
    section.banner img{
    width: 50%;
    }
    
    /* Data Product Detail */

    .main-title{
        font-weight: bolder;
        font-size: 200%;
    }

    .precio{
        font-size: 50px;
        font-weight: bold;
        color: #8c2e2e;
        margin: 10px;
    }

    .talle{
        font-size: 25px;
    }

    .Talle{
        font-size: 25px;
    }

    .Cantidad{
        font-size: 25px;
    }

    .descripcion{
        display: flex;
    }

    .opciones-recomendadas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }

    .otrasopciones{
        width: 45%;
    }

}


@media (min-width:768px){
    .main-header{
        padding:10px
    }
    .header-top-bar{
        justify-content: space-around;
    }
    .header-bottom-bar{
        display: block;
    }
    .contenedor-menu{
        display: none;
    }
    .search-form{
        width:50%;
        order: 1;
    }
    .icons-section{
        order:2;
        width: 10%;
    }
    article{
        width: 22%;
    }
    article.none1{
        display: block;
    }
    section.banner img{
        padding-left: 5px;
        padding-right: 5px;
    }
    .none1{
        display: block;
    }
    .previous, .next{
        display: none;
    }
    .newsletter-title{
        text-align: center;
        font-size: 22px;
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        margin-left: 13px;
        
    }
    .control-formulario{
        display: flex;
        flex-wrap: wrap;
    }
    .boton-suscribe{
        width: 35%;
        margin-left: 0px;
        margin-top: 3px;    
    }
    .control{
        width: 35%;
    
    }
    .newsletter{
        display: block;
        justify-content: space-between;
        flex-wrap: wrap
    
    }
    .newsletter-title{
        width: 100%;
        display: block;
    }
    .control-formulario{
       justify-content: center;
    }
    .a1, .a2 , .a3, .a4{
        width: 22%; 
    }
    .footer{
        border: none;
        list-style-type: none;
    }
    .main-footer{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .none2{
        display: none;
    }
    .center{
        text-align: inherit;
    }
    .titulo{
        text-align: center;
    }
    .linkfooter{
        justify-content: center;
    }
    .center1{
        border-top: solid 1px #ffffff;
        padding-top: 7px ;
    }
    .recomendados{
        margin-left: 75px;
        margin-right: 75px;
    }
    
    .main-article-product{
        display: flex;
    }

    .imagen-principal{
        width: 60%;
    }

    .data-principal{
        width: 40%;
    }

    .main-product-image{
        height: 100%;
    }

    .otrasopciones{
        width: 20%;
    }
    
    }

@media (min-width: 1200px){
    article{
        width: 22%;
    }
    .boton-suscribe{
        width: 25%;
    }
    .control{
        width: 25%;
    }   
    .marca_img{
        width: 10%;
        padding: 10px;
    }
    .logo{
        width: 65%;
    }
    .recomendados{
        margin-left: 100px;
        margin-right: 100px;
    }  
    .imagen-pago,.imagen-pago2{
        width: 13%;
    } 
}