*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto";
    font-size: 16px;
}


/*estilos header*/

.main-header{
    background-color:#f2e4bb ;
    padding-top: 10px;
    padding-bottom: 5px;
}

.header-top-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.home{
    width: 30%;
}
.logo{
    width: 100%;
    margin-bottom: 10px;
}
.icons-section{
    width: 30%;
    align-self: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.icons-section i{
    padding: 0px 5px;
    color:black;
    font-size: 18px;
   
}

.search-form{
    display: flex;
    align-self: center;
    width: 50%;
    justify-content: center;
}

.campo-busqueda{
    text-align: center;
    font-size: 12px;
    border: none;
    font-family: roboto;
    padding:8px;
    width: 85%;
}
.search-button{
    font-size: 12px;
    border: none;
    padding: 8px;
    background-color: white;
    width:15%;
    
}

.contenedor-menu{
    width: 30%;
    align-self: center;
    display: flex;
    justify-content: center;
}

.menu-desplegable{
    font-size: 16px;
    background-color:#d97f11;
    padding: 5px;
    border-radius: 5px;
    width: 30px;
    text-align: center;
    color: white;
    align-self: center;
    margin-top: 10px;
}


.header-bottom-bar{
    padding:5px;
    margin-top: 10px; 
    background-color:#f2e4bb ;
    border-top: solid 1px #d97f11;
    display: none;
    
}

.header-bottom-bar ul{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    }
.linknav{
    color: black;
    text-decoration: none;
    font-size: 12px;
    
}

/*estilos main*/
.encabezado-carrito{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;

}
.encabezado-carrito a{
    font-size: 10px;
    align-self: center;
    text-decoration: none;
    margin-left: 15px;
}
.titulos{
    display: none;
}

main{
    padding: 10px;
}
.producto{
    display: flex;
    flex-wrap: wrap;
    border-top: solid 2px black;
    margin-top: 10px;
    padding: 5px;
    
}
.miniatura{
    width: 30%;
}
.modelo{
    font-size: 12px;
    width: 60%;
    align-self: center;
}
.form-cantidad{
    width: 20%;
    display: flex;
    justify-content: center;
}
.precio{
    font-size: 18px;
    width: 70%;
    display: flex;
    justify-content: flex-end;
}
.eliminar{
    display: flex;
    width: 90%;
    justify-content: flex-end;
    
}
.boton-eliminar{
    display: flex;
    width: 25px;
    justify-content: center;
    font-size: 18px;
       
}
.finalizar-compra{
    display: flex;
    flex-wrap: wrap;
    border-top: solid 2px black;
    margin-top: 10px;
    padding: 5px;
    justify-content: space-around;
    padding-top: 15px;
}
.finalizar-form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.finalizar-form label{
    padding:15px;
    font-weight: bold;
}
.boton-compra{
font-family: roboto;
background-color:#d97f11;
padding:0px 10px;
border:none;
border-radius: 5px;
width: 140px;
height: 40px;
color: white;
}
.envios{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color:#f2e4bb;
    padding:10px;
}
.medios-pago{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.titulo-medios{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.imagen-pago{
    width:137.5px;
    align-self: center;
}
.imagen-pago2{
    width:25%;
}

.titular-recomendados{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top: 20px;
}
 

hr {
    width: 20%;
    align-self: center;
    border-color:black;
    border-width: 0,2px;
}

.recomendado-article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    border: dotted 0.5px #d97f11;
}
.recomendado-article img{
    width: 100%;
}
.contenedor-descripcion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    background-color: #f2e4bb;
}
.contenedor-descripcion div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.contenedor-descripcion div.precio{
    width: 80%;
}
.a2 , .a3 , .a4{
    display: none;
}

/*footer*/

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f2e4bb;
    margin-top: 20px;
    padding:15px 10px;
    
}
.nosotros{
    width: 45%;
    margin-bottom: 20px;;
}
.logo-footer{
    width: 50%;
}
.compra-online{
    width: 45%;
    align-self: center;
    padding-top: 5px;
}
footer ul{
    list-style: none;
}
footer a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.contacto{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    flex-wrap: wrap;
    width: 45%;
    

}
.contacto div{
    
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin-top: 0px;
}
.redes{
    text-align: center;
    text-indent: 10px;
    font-size: 18px;
    margin-top: 10px;
    width:100%;
    margin-right:20px;
   
}

.qr{
    width:50%;
    margin: auto;
    margin-top: 10px;
    
}

/*registro*/
.titulo-registro{
    text-align: center;
    padding:10px 10px 0px 10px;
}

.ingreso{
  width: 90%;
  font: roboto;
  margin: 0px 0px 10px 0px;  
}
.register-container label{
   
    font-size:14px;
    
}
.register-container h3{
margin: 15px 0px 10px 0px;
}
.genero{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
width: 80%;

}
.register-form{
    padding:10px;
}
.register-form hr{
    width:90%;
}
.register-container-end{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    align-content: center;
}
.register-container-end input{
    width: 10%;
    align-self: center;
}
.register-container-end label{
    width: 90%;
    padding-bottom: 10px;
    align-self: center;
    margin-top:10px;
}
.submit-button{
    margin-top: 10px;
    width: 30%;
    margin:auto;
}

/*paleta{
azulverde: #2D5955;
crema: #f2e4bb;
naranja: #d97f11;
marron:#40241e;
bordó:#8c2e2e;

● Tamaños Tipográficos
Cuerpos de texto: 16px
Titulares: 24px
Precios: 18px
Descuentos: 16px

}*/






/*Media querys*/

@media (min-width:478px){
hr{
    width:25%;
}
.recomendados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.a1, .a2 , .a3, .a4{
    display: flex;
    width: 45%;
    justify-content: space-between;
}
.a1, .a2 , .a3, .a4 div{
    text-align: center;
}
.izarrow , .derarrow{
    display: none;
}

}



@media (min-width:768px){
.main-header{
    padding:10px
}
.header-top-bar{
    justify-content: space-around;
}
.header-bottom-bar{
    display: block;
    
}

.contenedor-menu{
    display: none;
}

.search-form{
    width:50%;
    order: 1;
}
.icons-section{
    order:2;
    width: 10%;
}
.titulos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top:15px;
    margin-left:20px;
    
}
.miniatura{
    width: 15%;
}
.titulo-producto-carrito{
    flex-grow: 0.5;
}
div.modelo{
    width: 42%;
}
div.precio{
    width:10%;
    font-size:14px;
    align-self: center;
}
.form-cantidad{
    align-self: center;
    width:19%;
    margin-right: 10px;
}
div.eliminar{
    width:100%
}
h2{
    font-size: 28px;
}
.a1, .a2 , .a3, .a4{
    width: 22%;
    
}
.contacto , .nosotros{
    width: 30%;
}
.form-suscripcion{
    width: 30%;
    align-self: center;

}
.redes{
    text-align: left;
    display: flex;
    justify-content: space-around;
    width: 169px;
    margin-left: 0px;

}
.register-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.register-container{
    width: 45%;
}
.register-container-end{
    width:50%;
}
.register-form hr{
    margin-top: 20px;
}
}