<footer>

    <section>

        <div class="main-footer">
            <article class="footer-article">
                <h4 class="titulo">INSTITUCIONAL<i class="fas fa-chevron-down none3"></i></h4>
                <div class="italic center padding">
                    <ul class="footer">
                        <li><a href="/products" class="linkfooter">Quienes somos</a></li>
                        <li><a href="/products" class="linkfooter">Politicas de privacidad</a></li>
                        <li><a href="/products" class="linkfooter">Terminos y condiciones</a></li>
                    </ul>
                </div>
            </article>
            <article class="footer-article">
                <h4 class="titulo">AYUDA<i class="fas fa-chevron-down none3"></i></h4>
                <div class="italic center padding">
                    <ul class="footer">
                        <li><a href="/products" class="linkfooter">Preguntas frecuentes</a></li>
                        <li><a href="/products" class="linkfooter">Sucursales</a></li>
                        <li><a href="/products" class="linkfooter">Pagos</a></li>
                        <li><a href="/products" class="linkfooter">Entregas</a></li>
                        <li><a href="/products" class="linkfooter">Cambios</a></li>
                    </ul>
                </div>
            </article>
            <article class="footer-article">
                <h4 class="titulo">CONTACTO<i class="fas fa-chevron-down icon-title none3"></i></h4>
                <div class="italic">
                    <ul class="footer">
                        <li><a href="/products" class="linkfooter">0800-888-8888</a></li>
                        <li><a href="/products" class="linkfooter">Lunes a Sábado de 9 a 18 hs</a></li>
                        <li><a href="/products" class="linkfooter"><i class="far fa-envelope "></i>Envianos un
                                mensaje</a>
                        </li>
                    </ul>
                </div>
            </article>
        </div>

        <br />

        <div>
            <p class="center1">Copyright © 2020 KICKS S.R.L.</p>
            <div class="redes">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-instagram-square"></i>
                <i class="fab fa-whatsapp-square"></i>
            </div>
        </div>
    </section>

</footer>