<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>

<body>
<%- include("../partials/header")%>

    <main>
        <div class="login-bar1">
        <h2 class="titulo-registro1">Registrarme</h2>
        <form action="/register" method="POST" class="register-form">
            <div class="register-container">
                <h3 class="datos-personales">DATOS PERSONALES</h3>
                <div>
                    <input type="text" name="nombre" placeholder="Nombre..." class="ingreso" required>
                </div>
                <div>
                    <input type="text" name="apellido" placeholder="Apellido..." class="ingreso" required>
                </div>
                <div>
                    <label for="fecha-nacimiento">FECHA DE NACIMIENTO</label>
                    <input type="date" name="fecha-nacimiento" id="fecha-nacimiento" class="ingreso" required>
                </div>
                <div>
                    <label>GENERO</label>
                </div>
                <div class="genero">
                    <label for="masculino" class="label-sexo">Masculino</label>
                    <input type="radio" name="sexo" value="masculino" id="masculino" required>
                    <label for="femenino" class="label-sexo">Femenino</label>
                    <input type="radio" name="sexo" value="femenino" id="femenino" required>
                    <label for="otros" class="label-sexo">Otros</label>
                    <input type="radio" name="sexo" value="otros" id="otros" required>
                </div>
            </div>
            <div class="register-container">
                <h3 class="info-cuenta">SOBRE TU CUENTA</h3>
                <input type="email" name="email" placeholder="Email..." class="ingreso" required>
                <input type="password" name="password" placeholder="Contraseña..." class="ingreso" required>
                <i class="fas fa-eye-slash"></i>
                <input type="password" name="password-confirm" placeholder="Confirmar contraseña..." class="ingreso"
                    required>
                <i class="fas fa-eye-slash"></i>
            </div>
            <hr>
            <div class="register-container-end">
                <input type="checkbox" name="terminos" value="terminos" id="terminos" required>
                <label for="terminos">Acepto las politicas de privacidad y los terminos y condiciones</label>
                <input type="checkbox" name="ofertas" value="ofertas" id="ofertas">
                <label for="ofertas">Deseo recibir ofertas por email</label>
                <button type="submit" class="submit-button1">Crear cuenta</button>
            </div>
        </form>
    </div>
        <div class="newsletter">
            <form action="/" method="POST" class="newsletter">
                <h3 class="newsletter-title">SUSCRIBITE AL NEWSLETTER</h3>
                <div class="control-formulario">
                    <input type="email" name="email" id="email" placeholder="Ingresá tu email" class="control">
                    <button type="submit" class="boton-suscribe">SUSCRIBIRME</button>
                </div>
            </form>
        </div>
    </main>
    <%- include("../partials/footer")%>  


</body>

</html>